body {
   width: 800px;
   padding: 10px 10px 75px 10px;
   font-family: "Gill Sans", sans-serif;
   background: url(lisp-logo.jpg)  bottom right transparent no-repeat;
}


.res {border-bottom : 1px solid #AAA; }
.res, .documentation, .readme{ white-space:pre; }
input.search {width:400px;}

body.welcome {}